.footer {
  background-color: #f2f2f2;
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 234px;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  flex-wrap: wrap;
}
.footer__social-icon {
  font-size: 30px;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  padding: 5px;
  background-color: #f2f2f2;
}
.sitemap {
  display: flex;
  justify-content: center;
  gap: 0 30px;
  flex-wrap: wrap;
}
.sitemap__list {
  list-style: none;
}
.sitemap__link {
  text-decoration: none;
  color: #000;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 0 5px;
  align-items: center;
  flex-wrap: wrap;
}
.copyright-text {
  font-weight: bold;
}
